{
    "ServiceSettings": {
        "SiteURL": "https://localhost",
	    "Forward80To443": true
    },
    "SqlSettings": {
        "DriverName": "mysql",
        "DataSource": "{{mysql_username}}:{{mysql_password}}@tcp(127.0.0.1:3306)/{{mysql_database_name}}?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s"
    }
}
